<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ndn-caro.herokuapp.com/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://ndn-caro.herokuapp.com/style.css">
    <title>NDN&NTMD</title>
</head>
<body>
    <div class="wapper">
        <h1 class="result"></h1>
        <div class="container">
            <div class="row">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
            <div class="row">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
            <div class="row">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </div>



    <script src="https://ndn-caro.herokuapp.com/script.js"></script>
</body>
</html>